.incluyeRmainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1% 3% 1% 3%;
    border-radius: 0px 50px 50px 0px;
    background-color: white;
    margin-bottom: 5%;
}
.incluyeP {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #3C78BC;
}
.circularDiv {
    background-color: #3C78BC;
    border-radius: 50px;
    width: 12%;
    height: 11vw;
}
@media (min-width: 768px) {
    .incluyeRmainDiv {
        width: 100%;
        padding: 1% 3% 1% 6%;
        border-radius: 0px 50px 50px 0px;
        background-color: white;
        margin-bottom: 5%;
    }
    .incluyeP {
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 0%;
    }
    .circularDiv {
        border-radius: 50px;
        width: 11% !important;
        height: 4vw !important;
    }
}
@media (min-width: 1000px) {
    .incluyeRmainDiv {
        width: 100%;
        padding: 1% 3% 1% 6%;
        border-radius: 0px 50px 50px 0px;
        background-color: white;
        margin-bottom: 5%;
    }
    .incluyeP {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 0%;
    }
    .circularDiv {
        border-radius: 50px;
        width: 10% !important;
        height: 4vw !important;
    }
}

